*~
*.o
*.so
.*.swp
MIKE_VERSION_FILE
MIKE_TAG_DIFF_FILE
MIKE_HEAD_DIFF_FILE
MIKE_COMPILER_FLAGS
configure
*Makefile
*.log
*.orig
*.rej
*.patch
config.log
config.status
autom4te.cache
documentation/MIKE_ASCIIDOC_FLAGS
documentation/*.html
documentation/*.xml
documentation/*.1
documentation/*.3
documentation/*.7
documentation/*.odf
documentation/*.pdf
stats
mike-v*.tar.gz
mike.conf
